@charset "utf-8";
/* CSS Document */
*{
	margin:0; 
	padding:0;
	box-sizing: border-box;
}

Body{
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: rgba(0,63,78,.05);
	min-height: 100vh;

}

.logo-img{
	max-width: 100px;
	display:flex;
	align-items: center;
	align-content: center;
	margin: 10px;
}

hr{
	margin:auto;
	width: 70%;
	margin-bottom: 1em; 
	margin-top: 1em;
	align-items: center;
	align-content: center;
}

nav{
	background-color: rgb(53,53,53);
	color: white;
	
}

nav a{
	color:white;
}

nav:after{
	content: '';
	clear: both;
	display: table;
}

nav ul{
	float: right;
	list-style: none;
	margin-right: 40px;
	position: relative;
}

nav ul li{
	float: left;
	display: inline-block;
	background: rgb(53,53,53);
	margin: 0 5px;
	width: 90px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	line-height: 120px;
	font-size: 16px;
	padding: 18px 15px;
	width: 100%;
}

nav ul li a:hover{
	color: rgba(0,63,78,1);
	background-color: white;
	box-shadow: 0 0 12px white,
		0 0 10px rgba(0,63,78,1);
		border-radius: 5px;
	font-weight: bolder;
}


nav ul ul{
	position: absolute;
	top: 90px;
	border-top: 3px solid rgba(0,63,78,1);
	border-bottom: 3px solid rgba(0,63,78,1);
	opacity: 0;
	visibility: hidden;
	transition: top .3s;
	box-shadow: 3px 3px 3px rgba(0,0,0,.5);
}

nav ul li:hover > ul{
	top: 120px;
	opacity: 1;
	visibility: visible;
	z-index:1000;
}


nav ul ul li{
	position: relative;
	margin: 0px;
	width: 200px;
	float: none;
	display: list-item;
	border-bottom: solid 1px rgba(0,0,0,0.3);
	background-color: white;
	font-size: 12px;
}

nav ul ul li a{
	line-height: 10px;
	display: block;
	border:none!important;
	color:rgba(0,63,78,1);
}

nav ul ul li a:hover{
	color: white;
	box-shadow: none;
	background-color: rgba(0,63,78,1);
	border-radius: 0px;
}

nav .logo{
	float:left;
	font-size: 27px;
	font-weight: 600;
	line-height: 70px;
	padding-left: 60px;
}

.show, .icon, input {
	display: none;
}

@media all and (max-width: 636px){
	nav ul{
		margin-right: 0px;
		float: left;
		text-align: center;
	}
	
	nav .logo-img{
		align-content: center;
		display: flex;
		line-height: 70px;
	}
	nav ul li a{
		display: block;
		width: 100vw;
		line-height: 35px;
		border-radius: 0px!important;
	}
	
	nav ul li, nav ul ul li{
		display: block;
		width: 100vw;
		margin-left: 0px;
	}
	nav ul ul{
		top: 70px;
		position: static;
		float: none;
		display: none;
		opacity: 1;
		visibility: visible;
		width: 100%;
	}
	nav ul ul a{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.show{
		display: block;
		color: white;
		font-size: 16px;
		padding: 0px;
		line-height: 70px;
		cursor: pointer;
		width:auto;
	}
	.show:hover{
		color: rgba(0,63,78,1);
	background-color: white;
		width:auto;
		font-weight: bolder;
	}
	.icon{
		display: block;
		color: white;
		position: absolute;
		right: 40px;
		line-height: 100px;
		font-size: 25px;
		cursor: pointer;
	}
	nav ul li a:hover{
		box-shadow: none;
	}
	.show + a, ul{
		display: none;
	}
	
	[id^=btn]:checked + ul{
		display: block;
	}
}

.welcome {
	margin: auto;
	align-items: center;
	background-color: rgba(0,63,78,1);
	background-image: url("../images/welcome-background.png");
	min-height: 150px;
	display: flex;
	text-align: center;
	justify-content: center;
	margin-bottom: 15px;
	font-size: 1.75em;
	color: white;
	border-top: 5px solid rgba(0,63,78,1);
	border-bottom: 5px solid rgba(0,63,78,1);
	text-shadow: 1px 1px 8px rgba(0,0,0,1);

}


/* Home Page */

.featured_work {
	border-radius: 10px;
	background-color: rgba(0,63,78,1);
	max-width: 70%;
	color: white;
	margin: auto;
	display: block;
	text-align: center;
	padding: .5em;
	align-content:center;
	box-shadow: 3px 3px 7px rgba(0,0,0,.5);
}

.latest-img {
	position: relative;
	width: 80%;
	border-radius: 10px;
}

.all_projects {
	border-radius: 10px;
	background-color: rgba(0,63,78,1);
	max-width: 70%;
	color: white;
	margin: auto;
	display: block;
	text-align: center;
	justify-content: center;
	padding: .15em;
	cursor: pointer;
	box-shadow: 3px 3px 7px rgba(0,0,0,.5);
}

.projects-table1{
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 2vh;
}

.projects-table2{
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 1vh;
}

.projects {
	border-radius: 10px;
	background-color: rgba(0,63,78,1);
	max-width: 70%;
	color: white;
	margin: auto;
	display: block;
	text-align: center;
	padding: .5em;
	box-shadow: 3px 3px 7px rgba(0,0,0,.5);
}

.image{
	position: relative;
	width: 100%;
}

.image__img{
	display: block;
	width: 100%;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.75);
}

.image__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,63,78,.7);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
	border-radius: 10px;

}

.image__overlay > * {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover > * {
	transform: translateY(0px);
}

.image__title{
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgb(0,63,78);
}

.contact{
	margin: auto;
	padding: .25em;
	border: solid 5px rgba(0,63,78,1);
	border-radius: 10px;
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: white;
}

.contact h1{
	color: rgb(0,63,78);
}

.socials{
		margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
}

.social_icons{
	max-width: 35px;
	width: auto;
	margin: 5px 5px 0px 5px;
	border-radius: 7px;
}

@media (max-width: 850px){
		.projects-table1{
		visibility: hidden;
			position: fixed;
	}
}

@media (max-width: 950px){
	.image__title{
		font-size: 1.25em;
	}
}

@media (min-width: 851px){
		.projects-table2{
		visibility: hidden;
			position: fixed;
	}
}

@media (max-width: 871px){
		.projects-table2{
		font-size: 1em;
	}
}

@media (max-width: 450px){
		.projects-table2{
		font-size: .85em;
	}
	
	.image__img{
		border-radius: 7px;
	}
}

@media (max-width: 350px){
		.projects-table2{
		font-size: .70em;
	}
	
	.image__img{
		border-radius: 6px;
	}
}

@media (max-width: 300px){
		.projects-table2{
		font-size: .55em;
	}
	
	.image__img{
		border-radius: 5px;

	}

}

/* Project Pages */

.project_pages_images{
	margin: auto;
	display: flex;
	text-align: center;
	justify-content: center;
}

.portfolio-project{
	width: 75%;
	box-shadow: 5px 5px 10px rgba(0,0,0,.75);
	margin-bottom: 2%;
}

.portfolio-project-covers{
	width: 65%;
	box-shadow: 5px 5px 10px rgba(0,0,0,.75);
	margin-bottom: 2%;
}

.portfolio-project-rows{
	padding: 0px;
	margin: 0px;
}

.project-title{
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Back to Top */

.to_top{
	text-align: center;
	font-weight: bold;
	background-color: rgb(53,53,53);
	max-width: 125px;
	margin: auto;
	padding: 0;
	color: white;
	line-height: 35px;
	border-radius: 200px;
	display: block;
}

.to_top:hover{
	background-color: rgba(0,63,78,1);
	width: auto;
	display: block;
}

/* Carousel */

#slider{
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0,0,0,.75);
	width: 90%;
	margin: auto;
	margin-bottom: 2%
}

#slider figure{
	position: relative;
	width: 400%;
	margin: 0;
	left: 0;
	animation: 17s slider infinite;
}

#slider figure img{
	width: 25%;
	float: left;
}

@keyframes slider{
	0% {
		left: 0;
	}
	25%{ 
		left: 0;
	}
	30%{
		left: -100%;
	}
	55%{
		left: -100%;
	}
	60%{ 
		left: -200%;
	}
	85%{ 
		left: -200%;
	}
	100% {
		left: -300%;
	}

}

/* About Page */

.myphoto {
	width: 40%;
	border-radius: 10px;
	float: left;
	margin-right: 25px;
}

.about{ 
	text-align: left;
}

@media (max-width: 500px){
	.myphoto {
		float: none;
		margin: 0;
		width: 70%;
	}
}